.title
{
    background-color: aqua;
}
.thumbnail
{
    background-color: pink;
    float:left;
    width:150px;
    height:100px;
}
.description
{
    background-color : chocolate;
    height:100px;
    width: 80%;
    float:right;
    position:relation;

}